<div class="overlay">
  <mat-card class="dialog">
    <mat-toolbar color="primary">
      {{title}}
    </mat-toolbar>
    <mat-card-content class="content">
      <p>{{message}}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button
              #cancel
              (click)="emitValue(false)"
              color="primary">{{cancelText}}</button>
      <button mat-raised-button
              (click)="emitValue(true)"
              color="primary">{{okText}}</button>
    </mat-card-actions>
  </mat-card>
</div>
