<div class="overlay">
  <mat-card class="dialog">
    <mat-toolbar color="primary">
      {{title}}
    </mat-toolbar>
    <mat-card-content class="content">
      <mat-form-field>
        <input #input
               type="text"
               matInput
               [placeholder]="placeholder"
               [(ngModel)]="value"
               (keyup.enter)="emitValue(value)"
               (keyup.escape)="emitValue(null)">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button
              (click)="emitValue(null)"
              color="primary">{{cancelText}}</button>
      <button mat-raised-button
              (click)="emitValue(value)"
              color="primary">{{okText}}</button>
    </mat-card-actions>
  </mat-card>
</div>
