// Here we define a custom Material Design theme
// Taken from https://github.com/angular/material2/blob/master/docs/theming.md

@import '~@angular/material/theming'
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-cyan, 600, 300, 900)
$accent: mat-palette($mat-orange)

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red)

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn)
