<header>
  <a class="app-brand" routerLink="/">
    <img class="app-icon" src="../../public/images/angular.png">
    <h1>{{title}}</h1>
  </a>
  <span class="header-filler"></span>
  <a md-button class="nav-link" routerLink="/readme" routerLinkActive="active">README.md</a>
  <a md-button class="nav-link" routerLink="/todo" routerLinkActive="active">Todo App</a>
  <a href="https://github.com/khalfpap/angular-2-webpack-boilerplate">
    <img class="github-icon" src="../../public/images/github.png" />
  </a>
</header>
<router-outlet></router-outlet>
