@import '../styles/theming'

@keyframes rock
  0%
    transform: rotate(-15deg)
  50%
    transform: rotate(15deg)
  100%
    transform: rotate(-15deg)

.app-brand
  text-decoration: none
  color: currentColor
  border: 0 none
  outline: none
  &:visited
    color: white

.app-icon
  margin-right: 5px
  width: 2em
  height: 2em
  vertical-align: middle
  animation: rock 2s ease-in infinite

a
  margin-left: 5px
  border-bottom: 2px solid transparent
  &.active
    border-bottom: 2px solid md-color($accent)
