<!DOCTYPE html>
<html>
<head>
  <base href="<%= webpackConfig.output.publicPath %>">
  <title>Angular 2 - Webpack Boilerplate</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<awb-app>
  <div class="spinner-container">
    <div class="spinner-inner">
      <div class="spinner">
        <%= '<div></div>'.repeat(12) %>
      </div>
    </div>
  </div>
</awb-app>
</body>
</html>
