.todo-app
  padding: 0
  margin: 24px
  border-bottom: 1px solid transparent

.credit
  margin: 15px

.list-item
  width: 100%
  display: flex
  border-bottom: 1px solid #ccc

  .checkbox
    flex: 1 1 auto

  /deep/ .md-checkbox-label
    margin: 10px 0

  button
    height: 34px
    flex: 0 0 34px
    margin: 5px 0 5px 5px

    .material-icons
      font-size: 18px
      line-height: 18px

  .completed
    color: #757575
    text-decoration: line-through
