<header class="hero">
  <h2 class="hero-title">
    {{title}}
  </h2>
</header>
<mat-card class="todo-app">
  <mat-toolbar color="primary">
    Todo
    <span class="app-toolbar-filler"></span>
    <button class="add-btn" mat-mini-fab (click)="showCreateTodoDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content>
    <mat-list *ngIf="todos.length">
      <form>
        <mat-list-item *ngFor="let todo of todos; let index=index">
          <div class="todo-item">
            <mat-checkbox color="primary"
                          class="checkbox"
                          type="checkbox"
                          [name]="'item'+index"
                          (ngModelChange)="toggleCompleted(todo)"
                          [ngModel]="todo.completed">
              <span [class.completed]="todo.completed">{{todo.title}}</span>
            </mat-checkbox>
            <button mat-mini-fab
                    (click)="showEditDialog(todo)"
                    color="primary"
                    [disabled]="todo.completed">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-mini-fab
                    (click)="showConfirmDeleteAlert(todo)"
                    color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </form>
    </mat-list>
    <p class="credit"><em>Based on <a href="https://github.com/danielzen/material-todo">Material Todo</a></em></p>
  </mat-card-content>
</mat-card>

<awb-input-dialog *ngIf="createTodoDialogIsVisible"
                  [title]="'New Todo'"
                  [placeholder]="'What do you need to do?'"
                  [okText]="'Create'"
                  [value]="''"
                  (valueEmitted)="createTodo($event)">
</awb-input-dialog>

<awb-input-dialog *ngIf="todoToEdit"
                  [title]="'Edit Todo'"
                  [placeholder]="'What do you need to do?'"
                  [okText]="'Save'"
                  [value]="todoToEdit.title"
                  (valueEmitted)="editTodoTitle($event)">
</awb-input-dialog>

<awb-alert-dialog *ngIf="todoToDelete"
                  [title]="'Delete Todo'"
                  [message]="deleteMessage"
                  (valueEmitted)="confirmDelete($event)">
</awb-alert-dialog>
